
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.stocks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stocks div{
    margin: 20px;
    
}
.navbar a{
    margin-left: 20px;
}
.navbar .info a{
    text-decoration: none;
    align-items: center;
    color: #000;
    font-weight: 700;
}
.home_heading{
   
    display: block;
    justify-content: center;
    text-align: center;
    
}
.home_heading h1{
    margin-top: 180px;
    font-weight: 700;
    font-size: 50px;
   
}