<%- include('header'); -%>
<body>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi expedita facere ea error optio. Sapiente quia, distinctio neque reiciendis ut nulla adipisci cupiditate, quidem accusamus tenetur veniam, obcaecati culpa eveniet.</p>
</body>