<%- include('header'); -%>
<body>
  
   <div class="home_heading">
    <h1>Learn to Trade for Earn</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate quas facilis velit necessitatibus esse ab quae nam, quod temporibus reprehenderit sequi eos consequatur, totam iste excepturi aliquid modi nesciunt.</p>
   </div>
</body>